*{
  box-sizing: border-box;
}
html{
	font-family: Open Sans;
}
a{
	text-decoration: none;
}
.grid-container {
	width: 100%;
	max-width: 1300px;
	margin: auto;
}

.row:before,
.row:after{
	content: "";
	display: table;
	clear: both;
}

[class*='col-']{
	float: left;
	min-height: 1px;
	width: 16.66%;
	padding: 12px;

}
.col-1{
	width: 16.66%;
}

.col-2{
	width: 33.33%;
}

.col-3{
	width: 50%;
}

.col-4{
	width: 66.664%;
}

.col-5{
	width: 83.33%;
}

.col-6{
	width: 100%;
}

  @media all and (max-width:800px){
        .col-1{ width: 33.33%;    }
        .col-2{ width: 100%;        }
        .col-3{ width: 100%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;      }

        .row .col-2:last-of-type{
            width: 100%; 
        }

        .row .col-5 ~ .col-1{
            width: 100%; 
        }
    }

  @media all and (max-width:650px){
        .col-1{ width: 50%;     }
        .col-2{ width: 100%;    }
        .col-3{ width: 100%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;    }
    }

.brand{
	border: solid 1px #a5a5a5; 
	height: 80px;
}
.brand h1{
	font-size: 40px;
	margin-top: 0;
	color: #666;
}
.banner{
	background: #56b8fd;
	height: 80px;
}
.banner h1{
	color: #fff;
	margin-top: 0;
	font-size:40px;
}
.content{
	height:430px;
	background: #e8e8e8;
}
.container {
    width:100%;
    text-align: center;
}

.item {
    display: inline-block;
    width: 340px;
    height: auto;
    margin-bottom: 20px;
}
.header-item{
	width: 100%;
	height: 200px;
	background: #a5a5a5;
}
.title-item{
	width: 100%;
	height: 10px;
	margin-top: 20px;
	background: #a5a5a5;
}
.footer{
	background: #cacaca;
	height: 180px;
}
.read-more{
	width: 200px;
	height: 50px;
	background: orange;
	float: right;
	margin-top: 340px;
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	
}
.read-more a{
	color: #fff;
	font-weight: 700;
}

.back a{
	color: #fff;
	font-size: 40px;
	font-weight: 700;
}
.top-nav{

	background: #fff;
	height: 80px;

}
.logo{
	width: 200px;
	height: 100%;
	border: solid 2px #a5a5a5;
	border-radius: 10px;
	float: left;
	text-align: center;
}

.logo p{
	font-weight: 800;
	font-size: 30px;
	margin-top: 0;
	color: #666;

}

.blog{
	background: orange;
	width: 100px;
	text-align: center;
	padding-top: 5px;
	height: 30px;
	margin-top: 10px;
	float: right;
}

.blog a{
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}
.banner-full{
	height: 400px;
	background: #7ba4ef;

}
.topnav {
  overflow: hidden;
  width: auto;
}

.topnav a {
  float: right;
  margin-right: 10px;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    font-size: 10px;
  }
  .blog{
  	display: none;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  .topnav.responsive a {
  	background: #7493ca;
    float: none;
    display: block;
    text-align: right;
    font-size: 10px;
  }

  .topnav.responsive span{
  	margin-right: 50px;
  }

}
@media all and (max-width:800px){
        .brand{
        	height: 40px;
        }
        .banner{
        	height: 200px;
        }
        .banner h1{
        	text-align: center;
        	font-size: 30px;
        	margin-top: 40px;
        }
        .content{
        	height: 300px;
        }
        .footer{
        	height: 100px;
        }
        .read-more{
        	
        	margin-top: 220px;
        	font-size: 15px;
        	width: 110px;
        	height: 40px;
        }
        .item{
        	width: 250px;
        	height: 200;
        }

       .brand h1{
        	font-size: 20px;
        	text-align: center;
        }
        .logo {
        	width: 150px;
        }
    }

@media all and (max-width:320px){

	.banner h1{
		font-size: 35px;
	}
	 .read-more{
        	
        	margin-top: 240px;
        	font-size: 10px;
        	width: 80px;
        	height: 30px;
        }	
}

